/********** Template CSS **********/
:root {
    --primary: #00ba44;
    --secondary: #F57E57;
    --light: #EEF9FF;
    --dark: #091E3E;
}

h1,
h2,
.font-weight-bold {
    font-weight: 700 !important;
}

h3,
h4,
.font-weight-semi-bold {
    font-weight: 600 !important;
    margin-left: 0px;
}

h5,
h6,
.font-weight-medium {
    font-weight: 500 !important;
}

.btn {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn-primary,
.btn-secondary {
    color: #FFFFFF;
}

.btn-primary:hover {
    background: var(--secondary);
    border-color: var(--secondary);
}

.btn-secondary:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 28px;
    height: 28px;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.top-shape::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 100%;
    top: 0;
    left: -17px;
    background: var(--primary);
    transform: skew(40deg);
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Jost', sans-serif;
    padding: 35px 15px;
    font-size: 18px;
    color: var(--dark);
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 15px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
    }
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(9, 30, 62, .85);
    z-index: 1;
}

@media (max-width: 576px) {
    .carousel-caption h5 {
        font-size: 14px;
        font-weight: 500 !important;
    }

    .carousel-caption h1 {
        font-size: 30px;
        font-weight: 600 !important;
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

@media (min-width: 991.98px) {
    .banner {
        position: relative;
        margin-top: -90px;
        z-index: 1;
    }
}

.section-title h5::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 3px;
    right: -55px;
    bottom: 11px;
    background: var(--primary);
}

.section-title h5::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 3px;
    right: -75px;
    bottom: 11px;
    background: var(--secondary);
}

.twentytwenty-wrapper {
    height: 100%;
}

.hero-header {
    background: linear-gradient(rgba(9, 30, 62, .85), rgba(9, 30, 62, .85)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.bg-appointment {
    background: linear-gradient(rgba(9, 30, 62, .85), rgba(9, 30, 62, .85)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.appointment-form {
    background: rgba(6, 163, 218, .7);
}

.service-item img,
.service-item .bg-light,
.service-item .bg-light h5,
.team-item .team-text {
    transition: .5s;
}

.service-item:hover img {
    transform: scale(1.15);
}

.team-item .team-text::after,
.service-item .bg-light::after {
    position: absolute;
    content: "";
    top: 50%;
    bottom: 0;
    left: 15px;
    right: 15px;
    border-radius:100px / 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .7);
    opacity: 0;
    transition: .5s;
    z-index: -1;
}

.team-item:hover .team-text::after,
.service-item:hover .bg-light::after {
    opacity: 1;
}

.bg-offer {
    background:url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.offer-text {
    background: rgba(6, 163, 218, .85);
}

.price-carousel .owl-nav {
    position: absolute;
    width: calc(100% + 45px);
    height: 45px;
    top: calc(50% - 22.5px);
    left: -22.5px;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: .5s;
}

.price-carousel:hover .owl-nav {
    opacity: 1;
}

.price-carousel .owl-nav .owl-prev,
.price-carousel .owl-nav .owl-next {
    position: relative;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 2px;
    font-size: 22px;
    transition: .5s;
}

.price-carousel .owl-nav .owl-prev:hover,
.price-carousel .owl-nav .owl-next:hover {
    background: var(--secondary);
}

.bg-testimonial {
    background: url(../img/carousel-2.jpg) center center no-repeat;
    background-size: cover;
}

.testimonial-carousel {
    background: rgba(6, 163, 218, .85);
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: calc(100% + 46px);
    height: 46px;
    top: calc(50% - 23px);
    left: -23px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 2px;
    font-size: 22px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: var(--secondary);
}

.testimonial-carousel .owl-item img {
    width: 120px;
    height: 120px;
}
.navbar-brand img {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
}
@media (max-width: 768px) {
    .navbar-brand img {
        width: 40px; /* Adjust width for smaller screens */
        display: none;
    }

    .navbar-brand {
font-size: small;
    }
}

.container2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .card {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 500px;
  }
  .card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 250px;
  }
  
  .tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .tag-teal {
    background-color: #47bcd4;
  }
  .tag-purple {
    background-color: #5e76bf;
  }
  .tag-pink {
    background-color: #cd5b9f;
  }
  
  .card-body p {
    font-size: 13px;
    margin: 0 0 40px;
  }
  .user {
    display: flex;
    margin-top: auto;
  }
  
  .user img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .user-info h5 {
    margin: 0;
  }
  .user-info small {
    color: #545d7a;
  }

  h1 {
    margin: 50px 0 30px;
    text-align: center;
  }
  
  
.faq-container {
    margin: 0 auto;
    width: 90%;
  }
  
  .faq {
    background-color: transparent;
    border: 1px solid #9fa4a8;
    border-radius: 10px;
    margin: 20px 0;
    overflow: hidden;
    padding: 30px;
    position: relative;
    transition: 0.3s ease;
  }
  
  .faq.active {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  }
  
  .faq.active::before,
  .faq.active::after {
    color: #2ecc71;
    content: "\f075";
    font-family: "Font Awesome 6 Free";
    font-size: 7rem;
    left: 20px;
    opacity: 0.2;
    position: absolute;
    top: 20px;
    z-index: 0;
  }
  
  .faq.active::before {
    color: #3498db;
    left: -30px;
    top: -10px;
    transform: rotateY(180deg);
  }
  
  .faq-title {
    margin: 0 35px 0 0;
  
  }
  @media (max-width: 768px) {
    .faq-title {
font-size: medium;    
    }
}
  .faq-text {
    display: none;
    margin: 30px 0 0;
  }
  
  .faq.active .faq-text {
    display: block;
  }
  
  .faq-toggle {
    align-items: center;
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    height: 30px;
    justify-content: center;
    padding: 0;
    position: absolute;
    right: 30px;
    top: 30px;
    width: 30px;
  }
  .faq-toggle .fa-times,
  .faq.active .faq-toggle .fa-chevron-down {
    display: none;
  }
  
  .faq.active .faq-toggle .fa-times {
    color: #fff;
    display: block;
  }
  
  .faq-toggle .fa-chevron-down {
    display: block;
  }
  
  .faq.active .faq-toggle {
    background-color: #9fa4a8;
  }

  /* Styling for the popup */
  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }
  /* Styling for the popup */
  .popup2 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    margin-top:50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    max-height: 80%;
    overflow: auto;
    width: 90%;

  }

  /* Styling for the overlay */
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 900;
  }

  /* Center the content in the overlay */
  .overlay-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  /* Styling for the close button */
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
  }

/* Flexbox styling for the terms */
.most-searched-terms {
    display: flex;
    gap: 5px;
    max-width: 100%;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap; /* Allow terms to wrap to the next line */
  }
  
  /* Style individual term */
  .term {
    cursor: pointer;
    padding: 10px 20px;
    color: white;
    border: 1px solid #ccc;
    border-radius: 50px;
    background-color: #2ca226;
    transition: background-color 0.3s;
  }

  /* Hover effect on terms */
  .term:hover {
    background-color: #ececec;
    color: black;
  }
  

  .date__box {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ccc;
    border: 4px solid;
    font-weight: bold;
    padding: 5px 10px;
    .date__day{
      font-size: 22px;
    }
  }
  .blog-card {
    padding: 30px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .date__box {
      opacity: 0;
      transform: scale(0.5);
      transition: 300ms ease-in-out;
    }
    .blog-card__background,
    .card__background--layer{
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .blog-card__background {
      padding: 15px;
      background: white;
    }
    .card__background--wrapper{
      height: 100%;
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
      position: relative;
      overflow: hidden;
    }
    .card__background--main{
      height: 100%;
      position: relative;
      transition: 300ms ease-in-out;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .card__background--layer {
      z-index: 0;
      opacity: 0;
      background: rgba(#333, 0.9);
      transition: 300ms ease-in-out;
    }
    .blog-card__head {
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .blog-card__info{
      z-index: 10;
      background: white;
      padding: 20px 15px;
      h5 {
        transition: 300ms ease-in-out;
      }
    }
    &:hover {
      .date__box{
        opacity: 1;
        transform: scale(1);
      }
      .card__background--main {
        transform: scale(1.2) rotate(5deg);
      }
      .card__background--layer {
        opacity: 1;
      }
      .blog-card__info{
        h5{
        }
      }
    }
  }
  
  a.icon-link {
    transition: 200ms ease-in-out;
    i {
    }
    &:hover {
      text-decoration: none;
    }
  }
  .fa-share{
    margin-right: 5px;
  }


/* Default styles */
.number-boxes {
  display: flex;
  flex-wrap: wrap;
  counter-reset: my-counter;
}

.number-box {
  position: relative;
  width: calc(25% - 30px);
  margin: 25px 15px;
  padding: 30px 30px 30px;
  background: #1d304d;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
}

.number-box:before {
  content: counter(my-counter) ".";
  counter-increment: my-counter;
  background: #f7b424;
  color: #1d2f4d;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  top: -20px;
  font-size: 20px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .number-box {
    width: calc(50% - 30px);
  }
}

/* Media query for even smaller screens */
@media screen and (max-width: 480px) {
  .number-box {
    width: calc(100% - 30px);
  }
}
